body {
    background-color: #1D2D44;
    color: #F0EBD8;
}

.personal-info {
    text-align: center;
    font-size: larger;
    font-family: monospace; /* fantasy */
}

.laboratory-info {
    text-align: center;
    font-family: monospace; /* fantasy */
}

.laboratory-info h1 {
    font-size: 32px;
    font-weight: 800;
}

.laboratory-info h2 {
    font-size: 24px;
    font-weight: 700;
}

/* TODO: add styles */

.graph-container {
    /* margin: 1% 37% 2% 37%; */
    width: 500px;
    height: 350px;
    margin: auto;

    align-items: center;
    align-self: center;
    text-align: center;

    background-color: #0D1321;
    border: 3px solid #3E5C76;
    border-radius: 3%;
}

.form-container {
    text-align: center;
    align-items: center;
    align-self: center;


    margin: 2% auto 2%;
    
    width: 330px;
    height: 280px;
    
    background-color: #0D1321;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid #3E5C76;
    border-radius: 3%;
}

.form-container * {
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: medium;
}

.form-container label {
    display: block;
    color: #F0EBD8;
    
}

.form-container button, input[type="text"], select, input[type="checkbox"] {
    color: #F0EBD8;
    text-align: center;
    background-color: #3E5C76;

    border: 3px solid #748CAB;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin: 1%;

    &:active {
        box-shadow: 1px 5px 11px 7px rgba(240, 235, 216, .2);
        background-color: #032830;
    }

    &::placeholder {
        color: rgb(154, 156, 161);
    }
}

.form-container input[type="text"], select {
    &:focus {
        background-color: #032830;
        box-shadow: 1px 5px 11px 7px rgba(240, 235, 216, .2);
    }
}

.x-y-width {
    width: 48%;
}

#r-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#r-group label {
    position: relative;
}

#r-group input[type='checkbox'] {
    width: 30px;
    height: 30px;

    &:checked {
        transform: scale(1.1);
        box-shadow: 1px 5px 11px 7px rgba(240, 235, 216, .2);
    }
}

.send-clear-button-group {
    width: 30%;
}

#send-button {
    background-color: #051b11;
    border-color: #0f5132;
    &:disabled {
        background-color: #2c0b0e;
        border-color: #842029;
    }
}

.results-container {
    border: 3px solid #3E5C76;
    margin-left: 10%;
    margin-right: 10%;

}

#results-table {
    border: 1px solid #3E5C76;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#map-img {
    border: 3px solid black;
    border-radius: 10px;
}

#canvas {
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 1px 5px 11px 7px rgba(240, 235, 216, .2);
}

#warning-label {
    color: rgb(220,53,69);
    font-size: medium;
}