* {
    background-color: #2b1c43;
    color: white;
}

.personal-info {
    text-align: center;
    font-size: larger;
    font-family: monospace;
}

.laboratory-info {
    text-align: center;
    font-family: monospace;
}

.laboratory-info h1 {
    font-size: 32px;
    font-weight: 800;
}

.laboratory-info h2 {
    font-size: 24px;
    font-weight: 700;
}

.params-and-map-block {
    float: left;
    width: 25%;
    margin-bottom: 5%;
    font-size: medium;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    text-align: center;
}

.param-label {
    display: block;
    margin-bottom: 3%;
    margin-top: 3%;
}

.choose-param-elem {
    background-color: #56237d;
    border: 1px solid pink;
    border-radius: 10px;
    color: white;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin: 1%;
}

button.choose-param-elem {
    width: 15%;
}

select.choose-param-elem, input[type="text"].choose-param-elem {
    text-align: center;
    width: 50%;
}

#results-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

#map-img {
    border: 3px solid black;
    border-radius: 10px;
}


